.tabs {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
.tabs ul.nav-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px;
mobile-smallest()
}
.tabs ul.nav-tabs li.tab {
  list-style-type: none !important;
  margin: 0 0.25em 0 0;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
mobile-smallest()
}
.tabs ul.nav-tabs li.tab a {
  outline: 0;
  text-decoration: none;
  border-bottom: initial;
  display: block;
  line-height: 1.8em;
  padding: 0.25em 0.75em;
}
.tabs ul.nav-tabs li.tab a i {
  width: 1.285714285714286em;
}
.tabs ul.nav-tabs li.tab.active {
  border-top: 3px solid #fc6423;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
mobile-smallest()
}
.tabs ul.nav-tabs li.tab.active a {
  cursor: default;
  color: #555;
  text-decoration: none;
}
.tabs .tab-content {
  background-color: #fff;
}
.tabs .tab-content .tab-pane {
  border: 1px solid #ddd;
  padding: 0px 20px 20 20px;
}
.tabs .tab-content .tab-pane:not(.active) {
  display: none !important;
}
.tabs .tab-content .tab-pane.active {
  display: block !important;
}
